html {
  background-color: #080a19;
  color: white;
}

.wallet-button {
  background-color: #2dd8a7;
  border-radius: 0;
  border: 0;
  cursor: default;
}

.wallet-connect-button {
  background-color: #2dd8a7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;