@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: auto;
  background: linear-gradient(130.24deg, rgba(157, 159, 191, 0.4) 8.83%, rgba(25, 25, 112) 100%), 	rgb(25, 25, 112);
  color: #fff;
}

main {
  margin: 6em 5em;
}

.wallet-button {
  background-color: #2dd8a7;
  color: black;
  font-weight: bold;
  border: 0;
  cursor: default;
  border-radius: 50em;
}

:where(.css-dev-only-do-not-override-ixblex).ant-btn-default:not(:disabled):hover {
  color: black;
  background-color:#2dd8a7E6;
  cursor: pointer;
}

.wallet-connect-button {
  background-color: #2dd8a7;
}

.card-shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}